<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About SoCal Elite Physical Therapy</h2>
                    <h3 class="section-subheading text-muted">Physical Therapy in Irvine, CA</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">SoCal Elite Physical Therapy aims to provide the best treatment possible established on quality, function, and evidence-base practice. No matter the challenge, we believe that everyone deserves a comfortable space for personal growth physically, mentally, and spiritually.</p>
                    <p class="text-muted">We're proud to be the premier provider of <strong>1-on-1 physical therapy treatment services in Orange County.</strong> Unlike most physical therapy clinics, SoCal Elite does not use aides or assistants. All of our sessions are spent 1-on-1 with the provider or resident and often times with a provider AND resident.</p>
                    <p class="text-muted">SoCal Elite Physical Therapy strives to provide our clients the best physical therapy services by spearheading our practices with unique, adaptable, and versatile exercises. SoCal Elite Physical Therapy encourages clients in life’s most meaningful journeys. We aspire to inspire our clients to reach their full potential in life that displays integrity, humility, and love.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center" id="about-section-buttons">
                <a href="#locations" class="page-scroll btn btn-xl">View Our Location</a>
              </div>
            </div>
        </div>
    </section>
