<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About RISE Physical Therapy</h2>
                    <h3 class="section-subheading text-muted">Physical Therapy in Solana Beach, Carlsbad, Carmel Valley, and Point Loma</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">RISE Physical Therapy was born from a simple philosophy: it doesn’t matter who you are or what you do, everyone deserves the best treatment possible. We want to be that place for you. RISE Physical Therapy stands for Revolution In Self Evolution. To us, that means the journey of strengthening the mind, body, and spirit.</p>
                    <p class="text-muted">We're proud to be the premier provider of <strong>1-on-1 physical therapy treatment services in North County, San Diego</strong>, as well as neighboring areas. Our physical therapy clinics in Solana Beach, Carlsbad, Carmel Valley, and Point Loma provide RISE's core <a href="#services" class="page-scroll">physical therapy treatment services</a>. Unlike most physical therapy clinics, RISE does not use aides or assistants. All of our sessions are spent 1-on-1 with the provider or resident and often times with a provider AND resident.</p>
                    <p class="text-muted">If you're interested in treatment options outside of our core services - for example, yoga or cryotherapy - feel free to <a href="https://www.riseprimewellness.com" target="_blank">visit RISE Prime Wellness</a>. If you're located elsewhere in Southern California but would still like to experience the difference at RISE, please check out our various <a href="#locations" class="page-scroll">office and affiliate locations</a>.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center" id="about-section-buttons">
                <a href="#locations" class="page-scroll btn btn-xl">View Our Locations & Affiliates</a>
              </div>
            </div>
        </div>
    </section>
