  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="copyright">Copyright &copy; <a href="{{ site.url }}">{{ site.title }}</a></span>
                    <ul class="list-inline quicklinks">
                      <li><a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a> | <a href="/sitemap">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <img src="https://www.opencare.com/images/badges/patients-choice-winner-2015.png" alt="best physical therapy clinics in Solana Beach">
                </div>
                <div class="col-md-3">
                    <a href="http://www.bbb.org/sdoc/business-reviews/physical-therapists/rise-physical-therapy-in-solana-beach-ca-172017808/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-sandiego.bbb.org/seals/black-seal-150-110-bbb-172017808.png" style="border: 0;" alt="Rise Physical Therapy BBB Business Review"></a>
                </div>
            </div>
        </div>
    </footer>
