<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="copyright">Copyright &copy; <a href="{{ site.url }}">{{ site.title }}</a></span>
        <ul class="list-inline quicklinks">
          <li><a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a> | <a href="/sitemap">Sitemap</a> | <a href="/careers">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
