<!-- Locations Section -->
<section id="locations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Location</h2>
        <h3 class="section-subheading text-muted">SoCal Elite Physical Therapy Proudly Serves Orange County.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/orange-county.jpg" title="SoCal Elite Physical Therapy Irvine" alt="Irvine physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Irvine / Orange County</h4>
                <h4 class="subheading">12 Mauchly, Suite P
                  <br>Irvine, CA 92618</h4>
                <h3 class="section-subheading text-muted locations">Phone: (949) 590-9350 | Fax: (949) 346-5350</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/irvine-physical-therapy"><h4>Learn More About Physical Therapy in Irvine</h4></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/tustin.jpg" title="SoCal Elite Physical Therapy Tustin" alt="Tustin physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Tustin</h4>
                <h4 class="subheading">17602 17th Street, #106
                  <br>Tustin, CA 92780</h4>
                <h3 class="section-subheading text-muted locations">Phone: (949) 590-9350 | Fax: (714) 361-2604</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/tustin-physical-therapy"><h4>Learn More About Physical Therapy in Tustin</h4></a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/costa-mesa.jpg" title="SoCal Elite Physical Therapy Costa Mesa" alt="Costa Mesa physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Costa Mesa</h4>
                <h4 class="subheading">2925 Airway Ave j
                  <br>Costa Mesa, CA 92626</h4>
                <h3 class="section-subheading text-muted locations">Phone: (949) 590-9350 | Fax: (714) 361-2606</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/costa-mesa-physical-therapy"><h4>Learn More About Physical Therapy in Costa Mesa</h4></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
