<!-- Locations Section -->
<section id="locations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Locations</h2>
        <h3 class="section-subheading text-muted">RISE Physical Therapy has offices throughout San Diego County.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/solana-beach.jpg" title="RISE Physical Therapy Solana Beach" alt="Solana Beach physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Solana Beach</h4>
                <h4 class="subheading">380 Stevens Avenue, Suite 314
                  <br>Solana Beach, CA 92075</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (858) 755-5201</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/solana-beach-physical-therapy"><h4>Learn More About Physical Therapy in Solana Beach</h4></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/carlsbad.jpg" title="RISE Physical Therapy Carlsbad" alt="Carlsbad physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Carlsbad</h4>
                <h4 class="subheading">6451 El Camino Real, Suite B2
                  <br>Carlsbad, CA 92009</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (760) 804-1400</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/carlsbad-physical-therapy"><h4>Learn More About Physical Therapy in Carlsbad</h4></a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/point-loma.jpg" title="RISE Physical Therapy Point Loma" alt="Point Loma physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Point Loma Liberty Station</h4>
                <h4 class="subheading">2495 Truxtun Road, Suite 200
                  <br>San Diego, CA 92106</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (619) 223-2307</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/point-loma-physical-therapy"><h4>Learn More About Physical Therapy in Point Loma</h4></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/carmel-valley.jpg" title="RISE Physical Therapy Carmel Valley" alt="Carmel Valley physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Carmel Valley</h4>
                <h4 class="subheading">5550 Carmel Mountain Road, Suite 208B
                  <br>San Diego, CA 92130</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (858) 314-9611</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/carmel-valley-physical-therapy"><h4>Learn More About Physical Therapy in Carmel Valley</h4></a>
              </div>
            </div>
          </li>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Affiliates</h2>
              <h3 class="section-subheading text-muted">RISE affiliate partnerships allow us to serve patients throughout Southern California.</h3>
            </div>
          </div>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/sspt_affiliate.png" alt="silver strand physical therapy logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Silver Strand Physical Therapy</h4>
                <a href="https://goo.gl/kbDrSL" target="_blank"><h4 class="subheading">1155 13th Street
                  <br>Imperial Beach, CA 91932</h4></a>
                <h3 class="section-subheading text-muted locations">Phone: (619) 941-2680 | Fax: (619) 941-2681</h3>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Silver Strand Physical Therapy is our South San Diego physical therapy affiliate. Located in Imperial Beach, Silver Strand Physical Therapy provides premier physical therapy treatment services to patients throughout the South Bay. Vist <a href="http://www.silverstrandpt.com" target="_blank">silverstrandpt.com</a> to learn more.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/prime_affiliate.png" alt="rise prime wellness logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>RISE Prime Wellness</h4>
                <a href="https://goo.gl/maps/SHVvrqJUKUt"><h4 class="subheading">5550 Carmel Mountain Rd, Ste 208
                  <br>San Diego, CA 92130</h4></a>
                <h3 class="section-subheading text-muted locations">Phone: (858) 314-9610</h3>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><a href="https://www.riseprimewellness.com" target="_blank">RISE Prime Wellness</a> is the premier holistic health and wellness clinic in San Diego. We offer a highly customized approach that combines yoga and cryotherapy with several other wellness services.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/aspire_affiliate.png" alt="aspire physical therapy logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>La Cañada Flintridge</h4>
                <a href="https://goo.gl/8XWu9Z" target="_blank"><h4 class="subheading">4515 Ocean View Blvd, Ste 320
                  <br>La Cañada Flintridge, CA 91011</h4></a>
                <h3 class="section-subheading text-muted locations">Phone: (818) 369-7620</h3>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Our Los Angeles County affiliate office is located inside <a href="http://aspirephysicaltherapy.com/" target="_blank">Aspire Physical Therapy & Sports Performance</a>. Through our partnership with Aspire, we're able to provide physical therapy treatment services to patients in the immediate La Cañada Flintridge area, as well as greater LA County.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
