/* Blog Homepage and Blog Post Styles */

#navbar-blog {
  border-color: transparent;
  background-color: #222;
  min-height: 90px;
}

#blog-featured-img img {
  width: 100%;
  max-height: 400px;
  margin-bottom: 1em;
}
